<div class="row">
  <div class="col-xs-12 col-md-6">
    <app-location-picker [airports]="outboundAirports"
                         [textLabel]="'From:'"
                         [preSelectedAirport]="preSelectedOutboundAirport"
                         (selectedAirport)="onAirportSelected($event, boundTypeEnum.Outbound)">
    </app-location-picker>
  </div>
  <div class="col-xs-12 col-md-6">
    <app-location-picker [airports]="inboundAirports"
                         [textLabel]="'To:'"
                         [preSelectedAirport]="preSelectedInboundAirport"
                         (selectedAirport)="onAirportSelected($event, boundTypeEnum.Inbound)">
    </app-location-picker>
  </div>
</div>
