<div class="row align-items-end">
  <div class="col-12 my-md-3">
    <app-location-search-cont></app-location-search-cont>
  </div>
  <div class="col-12 col-lg-6">
    <app-date-search-cont></app-date-search-cont>
  </div>
  <div class="col-12 col-lg-6 mt-3">
    <button class="ryanair-primary-button" *ngIf="searchService.searchState$ | async as search"
            [disabled]="isSearchButtonEnabled(search)"
            (click)="onSubmit()">Find flights</button>
  </div>
</div>
