@import 'utils';

@include ryanair-container;
@include ryanair-title;

.ryanair-background {
  display: flex;
  background-image: url($background-img);
  background-position: bottom;
  height: 100%;
  min-height: 100vh;
  padding: $page-outer-spacing;
}

.page-title, .page-subtitle {
  color: $white;
}
