<div class="ryanair-background">
  <div class="container h-100">
    <h1 class="ryanair-title text-center">Find Cheap Flights to Europe</h1>
    <h2 class="ryanair-subtitle text-center">Find the lowest fares to over 200 destinations</h2>
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-12 ryanair-container py-3 pt-md-0">
        <app-flight-search-cont></app-flight-search-cont>
      </div>
      <div class="col-12 mt-4 p-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
