<div class="row">
  <div class="col-xs-12 col-md-6">
    <app-date-picker [formControlToAssign]="outboundDatePicker"
                     [preselectedDate]="outboundPreselectedDate"
                     [textLabel]="'Fly out:'"
                     (dateSelected)="dateSelected({boundType: boundTypeEnum.Outbound, selectedDate: $event })">
    </app-date-picker>
  </div>
  <div class="col-xs-12 col-md-6">
    <app-date-picker [formControlToAssign]="inboundDatePicker"
                     [preselectedDate]="inboundPreselectedDate"
                     [textLabel]="'Fly back:'"
                     [forcedMinDate]="minInboundDate"
                     (dateSelected)="dateSelected({boundType: boundTypeEnum.Inbound, selectedDate: $event })">
    </app-date-picker>
  </div>
</div>
