/* Colors */

$blue-primary: #073590 !default;
$blue-secondary: #2091EB !default;
$yellow-primary: #F1C933 !default;
$grey-primary: rgba(246, 246, 246, 0.89) !default;
$white-1: #F8FBFF !default;
$white: #FFFFFF !default;
