%ryanair-input-boder {
  $ryanair-input-border-size: 6px;
  $ryanair-input-border-radius: 0px;

  border: none;
  border-bottom: $ryanair-input-border-size solid $blue-secondary;
  border-radius: $ryanair-input-border-radius;
}

@mixin ryanair-button {
  $ryanair-button-bg: $yellow-primary;
  $ryanair-button-font-size: 24px;

  .ryanair-primary-button {
    background: $ryanair-button-bg;
    color: $white;
    cursor: pointer;
    font-size: $ryanair-button-font-size;
    font-weight: 700;
    padding: 0.25em;
    width: 100%;

    &:disabled {
      background: $grey-primary;
      cursor: not-allowed;
    }
  }
}

@mixin ryanair-container {
  $ryanair-container-bg: $blue-secondary;

  .ryanair-container {
    background: $blue-primary;
  }
}

@mixin ryanair-input {
  .ryanair-primary {
    &-input {
      @extend %ryanair-input-boder;
    }

    &-input-label {
      color: $white;
    }

    &-input-button {
      @extend %ryanair-input-boder;
      background: $white;
    }
  }
}

@mixin ryanair-title {
  .ryanair-title, .ryanair-subtitle {
    color: $white;
    font-family: $main-font;
  }

  .ryanair-title {
    font-size: 1.5rem;
  }

  .ryanair-subtitle {
    font-size: 1rem;
  }
}
