<div class="list-group">
  <ng-container *ngIf="flights?.length > 0; else noFlights">
    <ng-container *ngFor="let flight of sortByPrice(flights)">
      <a href="javascript:void(0)" class="list-group-item list-group-item-action">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <i class="material-icons">flight</i>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                {{ flight.dateFrom | date:'HH:mm' }} - {{ flight.dateTo | date:'HH:mm' }}
              </div>
              <div class="col-12 font-weight-bold">
                {{ flight.price | currency: flight.currency }}
              </div>
            </div>
          </div>
          <div class="col">
            <i class="material-icons float-right">keyboard_arrow_right</i>
          </div>
        </div>
      </a>
    </ng-container>
  </ng-container>
</div>
<ng-template #noFlights>
  <div class="row no-fights">
    <div class="col">
      <i class="material-icons">mood_bad</i> Sorry. No available flights found. Try selecting new dates or locations
    </div>
  </div>
</ng-template>
