<div class="row mt-3 mt-md-0">
  <div class="col">
    <label [attr.for]="id" class="ryanair-primary-input-label">{{textLabel}}</label>
    <div class="input-group">
      <input [id]="id" class="form-control ryanair-primary-input" placeholder="yyyy-mm-dd"
             [(ngModel)]="preselectedDate ? convertDateToNgbDateStructAndEmit(preselectedDate) : model"
             name="dp"
             ngbDatepicker #d="ngbDatepicker"
             [minDate]="forcedMinDate ? dateToNgbDataStruct(forcedMinDate) : minDate"
             [maxDate]="maxDate"
             (dateSelect)="onDateSelected($event)"
             [formControl]="formControlToAssign">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary ryanair-primary-input-button" (click)="d.toggle()" type="button">
          <img src="assets/images/calendar-icon.svg" class="calendar-image"/>
        </button>
      </div>
    </div>
  </div>
</div>

{{forcedMinDate ? dateToNgbDataStruct(forcedMinDate) : minDate}}
